.cart{
	width: 100%;
    height: 40px;
    border: 1px solid lightgray;
    background-image: url('../images/add_shopping_cart.png');
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 90%;
    
    &:hover{
    	border-left:5px solid #ff6702;
    	background-image: url('../images/add_shopping_cart-orange.png');
    }
}
.cart a{
	text-decoration: none;
    color: #000000;
    font-weight: 600;
    width:100%;
    height:100%;
    display:flex;
    align-items:center;
    justify-content:center;
}
